.body {
  background-color: $white;
  background-image: linear-gradient(
    to right,
    $white 320px,
    $color-main 320px,
    $color-main 100%
  );

  &--hidden {
    overflow: hidden;
  }
}

.page {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  position: relative;
}

.hidden {
  display: none !important;
}

.tech {
  @media (min-width: $screen-md) {
    .swiper-slide:nth-child(3n) {
      margin-right: 0;
    }
  }
  @media (min-width: $screen-lg) {
    .swiper-slide:nth-child(3n) {
      margin-right: 16px;
    }
  }
}
