$white: #ffffff;

$color-main: #f8f8f8;

$border-color: #d9fff5;

$margin-sm: 18px 16px;
$margin-md: 18px 22px;
$margin-lg: 30px 22px;

$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1366px;
